<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>578862748321-11qpnb2v6tbfbaaqn81lj6rqm3g2buv6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.578862748321-11qpnb2v6tbfbaaqn81lj6rqm3g2buv6</string>
	<key>API_KEY</key>
	<string>AIzaSyA7zALmJrWmJ5ZQkNQvHFCejoqEG05GLYc</string>
	<key>GCM_SENDER_ID</key>
	<string>578862748321</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>maanavkhaitan.Apoyo-App</string>
	<key>PROJECT_ID</key>
	<string>apoyo-app</string>
	<key>STORAGE_BUCKET</key>
	<string>apoyo-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:578862748321:ios:187f7fb3c745be042dd6e0</string>
	<key>DATABASE_URL</key>
	<string>https://apoyo-app.firebaseio.com/</string>
</dict>
</plist>
